sudo: false
dist: trusty

#os:
#  - linux
#  - osx

script: echo "Running tests ..."

jobs:
  include:


    - &unit-test-staging
      stage: Unit Testing
      language: generic
      os: linux
      env: TEST=Test1
      before_script: &before_script_linux echo before script linux
      after_success: echo after success
      script: echo "test 1 ..."
    - <<: *unit-test-staging
      os: osx
      env: TEST=Test1
      before_script: &before_script_osx echo before script osx
      script: sysctl -a | grep machdep.cpu.features
    - <<: *unit-test-staging
      os: linux
      env: TEST=Test2
      script: asdasd
    - <<: *unit-test-staging
      os: osx
      env: TEST=Test2
      before_script: *before_script_osx
      script: asdasd
    - <<: *unit-test-staging
      os: linux
      env: TEST=Test3
      script: echo "test 3 ..."
    - <<: *unit-test-staging
      os: osx
      env: TEST=Test3
      script: echo "test 3 ..."


    - stage: Integration Tests
      os: linux
      script: echo "test 1 ..."
    - stage: Integration Tests
      os: linux
      script: echo "test 2 ..."
    - stage: Integration Tests
      os: linux
      script: echo "test 3 ..."
    - stage: Integration Tests
      os: osx
      script: echo "test 1 ..."
    - stage: Integration Tests
      os: osx
      script: echo "test 2 ..."
    - stage: Integration Tests
      os: osx
      script: echo "test 3 ..."


    - stage: deploy to staging
      os: osx
      install: skip # bundle install is not required
      script: echo "Deploying to staging ..."


    - &test-staging
      stage: test staging
      os: osx
      install: skip
      script: echo "Testing staging, shard 1 ..."
    - <<: *test-staging
      script: echo "Testing staging, shard 2 ..."
    - <<: *test-staging
      script: echo "Testing staging, shard 3 ..."


  allow_failures:
    - env: TEST=Test2
