sudo: false
stages:
#  - compile
  - test
  - integration
  - name: deploy
    if: branch = master
os:
  - linux
  - osx

language: generic
#matrix:
#  include:
#    - os: linux
#      dist: trusty
#      sudo: required
#    - os: osx
#      osx_image: xcode8.0
#    env: JOB=JOBD
jobs:
  include:
    - stage: "Tests"
      name: "Unit Tests"
      env:
        - JOB=JOBA
        - JOB=JOBB
        - JOB=JOBC
      script:
        - echo job = $JOB
        - echo done
    - stage: "Integration Tests"
      name: "Run driver"
      env:
        - JOB=JOBA
        - JOB=JOBB
        - JOB=JOBC
      script:
       - echo job = $JOB
       - echo done
    - stage: deploy
      name: "Deploy to Store"
     env:
        - JOB=JOBA
        - JOB=JOBB
        - JOB=JOBC
      script:
      script: echo Deployed

#script:
#  - echo job = $JOB
#  - echo done