sudo: false
os:
  - linux
  - osx
env:
  - JOB=JOBA
  - JOB=JOBB
  - JOB=JOBC
language: generic
#matrix:
#  include:
#    - os: linux
#      dist: trusty
#      sudo: required
#    - os: osx
#      osx_image: xcode8.0
#    env: JOB=JOBD
#jobs:
#  include:
#    - stage: "Tests"
#      name: "Unit Tests"
#      script:
#        - echo job = $JOB
#        - echo done
#    - stage: "Integration Tests"
#      name: "Run driver"
#      script:
#       - echo job = $JOB
#       - echo done
#    - stage: deploy
#      name: "Deploy to Store"
#      script: echo Deployed

script:
  - echo job = $JOB
  - echo done