sudo: false
dist: trusty

#os:
#  - linux
#  - osx

script: echo "Running tests ..."

jobs:
  include:


    - &unit-test-staging
      stage: Unit Testing
      language: generic
      os: linux
      env: TEST=Test1
#      before_script:
#        - git clone https://github.com/flutter/flutter.git -b beta
#        - export PATH="\$PATH":"\$HOME/.pub-cache/bin"
#        - export PATH=\`pwd\`/flutter/bin:\`pwd\`/flutter/bin/cache/dart-sdk/bin:\$PATH
#        - flutter precache
#        - flutter doctor -v
#        - pub global activate coverage
      after_success: echo after success
      script: echo "test 1 ..."
    - <<: *unit-test-staging
      os: osx
      env: TEST=Test1
      script: sysctl -a | grep machdep.cpu.features
    - <<: *unit-test-staging
      os: linux
      env: TEST=Test2
      script: asdasd
    - <<: *unit-test-staging
      os: osx
      env: TEST=Test2
      script: asdasd
    - <<: *unit-test-staging
      os: linux
      env: TEST=Test3
      script: echo "test 3 ..."
    - <<: *unit-test-staging
      os: osx
      env: TEST=Test3
      script: echo "test 3 ..."


    - &integration-test-staging
      stage: Integration Testing
      sudo: false
      dist: trusty
      os: linux
      env: INT_TEST=Test1
      before_install: &before_install_linux
        - echo before install linux 1
        - echo before install linux 2
      script: echo "test 1 ..."
    - <<: *integration-test-staging
      os: osx
      env: INT_TEST=Test1
      before_install: &before_install_osx
        - echo before install osx 1
        - echo before install osx 2
      script: echo "test 1 ..."
    - <<: *integration-test-staging
      os: linux
      env: INT_TEST=Test2
      script: xxxx
    - <<: *integration-test-staging
      os: osx
      env: INT_TEST=Test2
      before_install: *before_install_osx
      script: xxxx
    - <<: *integration-test-staging
      os: linux
      env: INT_TEST=Test3
      script: echo "test 3 ..."
    - <<: *integration-test-staging
      os: osx
      env: INT_TEST=Test3
      before_install: *before_install_osx
      script: echo "test 3 ..."


    - stage: deploy to staging
      os: osx
      install: skip # bundle install is not required
      script: echo "Deploying to staging ..."


    - &test-staging
      stage: test staging
      os: osx
      install: skip
      script: echo "Testing staging, shard 1 ..."
    - <<: *test-staging
      script: echo "Testing staging, shard 2 ..."
    - <<: *test-staging
      script: echo "Testing staging, shard 3 ..."


  allow_failures:
    - env: TEST=Test2
    - env: INT_TEST=Test2
