#sudo: false
#dist: trusty

#os:
#  - linux
#  - osx

script: echo "Running tests ..."

env:
  global:
    - ANDROID_API_LEVEL=27
    - EMULATOR_API_LEVEL=22
    - ANDROID_BUILD_TOOLS_VERSION=27.0.3
    - ANDROID_ABI="default;armeabi-v7a"

jobs:
  include:


#    - &unit-test-staging
#      stage: Unit Testing
#      language: generic
#      os: linux
#      env: TEST=Test1
##      before_script:
##        - git clone https://github.com/flutter/flutter.git -b beta
##        - export PATH="$PATH":"$HOME/.pub-cache/bin"
##        - export PATH=`pwd`/flutter/bin:`pwd`/flutter/bin/cache/dart-sdk/bin:$PATH
##        - flutter precache
##        - flutter doctor -v
##        - pub global activate coverage
#      after_success: echo after success
#      script: echo "test 1 ..."
#    - <<: *unit-test-staging
#      os: osx
#      env: TEST=Test1
#      script: echo "test 1 ..."
#    - <<: *unit-test-staging
#      os: linux
#      env: TEST=Test2
#      script: echo "test 2 ..."
#    - <<: *unit-test-staging
#      os: osx
#      env: TEST=Test2
#      script: echo "test 2 ..."
#    - <<: *unit-test-staging
#      os: linux
#      env: TEST=Test3
#      script: echo "test 3 ..."
#    - <<: *unit-test-staging
#      os: osx
#      env: TEST=Test3
#      script: echo "test 3 ..."


#    - stage: coverage
#      os: linux
#      # todo: use yaml var for install
#      script: echo "code coverage ..."


    - &integration-test-staging
      stage: Integration Testing
      sudo: false
      dist: trusty
      language: generic
      os: linux
      env: INT_TEST=Test1
      before_install: &before_install_linux
        - echo $PATH
        # Install the Android SDK Dependency.
        - ANDROID_SDK_URL="https://dl.google.com/android/repository/sdk-tools-linux-4333796.zip"
        - ANDROID_TOOLS_ROOT="/opt/android_sdk"
        - mkdir -p "${ANDROID_TOOLS_ROOT}"
        - mkdir -p ~/.android
        # Silence warning.
        - touch ~/.android/repositories.cfg
        - ANDROID_SDK_ARCHIVE="${ANDROID_TOOLS_ROOT}/archive"
        - wget --progress=dot:giga "${ANDROID_SDK_URL}" -O "${ANDROID_SDK_ARCHIVE}"
        - unzip -q -d "${ANDROID_TOOLS_ROOT}" "${ANDROID_SDK_ARCHIVE}"
        # Suppressing output of sdkmanager to keep log size down
        # (it prints install progress WAY too often).
        - yes "y" | "${ANDROID_TOOLS_ROOT}/tools/bin/sdkmanager" "tools" > /dev/null
        - yes "y" | "${ANDROID_TOOLS_ROOT}/tools/bin/sdkmanager" "build-tools;28.0.0" > /dev/null
        - yes "y" | "${ANDROID_TOOLS_ROOT}/tools/bin/sdkmanager" "platforms;android-28" > /dev/null
        - yes "y" | "${ANDROID_TOOLS_ROOT}/tools/bin/sdkmanager" "platform-tools" > /dev/null
        - yes "y" | "${ANDROID_TOOLS_ROOT}/tools/bin/sdkmanager" "extras;android;m2repository" > /dev/null
        - yes "y" | "${ANDROID_TOOLS_ROOT}/tools/bin/sdkmanager" "extras;google;m2repository" > /dev/null
        - yes "y" | "${ANDROID_TOOLS_ROOT}/tools/bin/sdkmanager" "patcher;v4" > /dev/null
        - rm "${ANDROID_SDK_ARCHIVE}"
        - PATH="${ANDROID_TOOLS_ROOT}/tools:${PATH}"
        - PATH="${ANDROID_TOOLS_ROOT}/tools/bin:${PATH}"
        - ANDROID_HOME=$ANDROID_TOOLS_ROOT

        - yes | sdkmanager "build-tools;$ANDROID_BUILD_TOOLS_VERSION" >/dev/null
        - sdkmanager --list
        # Install the rest of tools (e.g., avdmanager)
        - sdkmanager tools
        # Create and start emulator.
        - sdkmanager "system-images;android-$EMULATOR_API_LEVEL;$ANDROID_ABI" >/dev/null
        - sdkmanager --list
#        - echo no | avdmanager create avd --force -n test -k "system-images;android-$EMULATOR_API_LEVEL;$ANDROID_ABI"
#        - find $ANDROID_HOME -name emulator
#        - $ANDROID_TOOLS_ROOT/emulator/emulator -avd test -no-audio -no-window
        - emulator -avd test -no-audio -no-window
        # Wait for emulator to startup.
        - android-wait-for-emulator
        - adb shell input keyevent 82
      script: echo "test 1 ..."
    - <<: *integration-test-staging
      os: osx
      env: INT_TEST=Test1
      before_install: &before_install_osx
        - echo before install osx 1
        - echo before install osx 2
      script: echo "test 1 ..."
    - <<: *integration-test-staging
      os: linux
      env: INT_TEST=Test2
      script: xxxx
    - <<: *integration-test-staging
      os: osx
      env: INT_TEST=Test2
      before_install: *before_install_osx
      script: xxxx
    - <<: *integration-test-staging
      os: linux
      env: INT_TEST=Test3
      script: echo "test 3 ..."
    - <<: *integration-test-staging
      os: osx
      env: INT_TEST=Test3
      before_install: *before_install_osx
      script: echo "test 3 ..."


    - stage: deploy to staging
      os: osx
      install: skip # bundle install is not required
      script: echo "Deploying to staging ..."


    - &test-staging
      stage: test staging
      os: osx
      install: skip
      script: echo "Testing staging, shard 1 ..."
    - <<: *test-staging
      script: echo "Testing staging, shard 2 ..."
    - <<: *test-staging
      script: echo "Testing staging, shard 3 ..."


  allow_failures:
    - env: INT_TEST=Test2
