sudo: false
dist: trusty

#os:
#  - linux
#  - osx

script: echo "Running tests ..."

jobs:
  include:
    - stage: Testing on linux
      os: linux
      script: echo "test 1 ..."
    - stage: Testing on linux
#      os: osx
      script: echo "test 2 ..."
    - stage: Testing on linux
      script: echo "test 3 ..."
#      os: osx
    - stage: Testing on osx
      os: osx
      script: echo "test 1 ..."
    - stage: Testing on osx
      os: osx
      script: echo "test 2 ..."
    - stage: Testing on osx
      os: osx
      script: echo "test 3 ..."
    - stage: deploy to staging
      os: osx
      install: skip # bundle install is not required
      script: echo "Deploying to staging ..."
    - &test-staging
      stage: test staging
      os: osx
      install: skip
      script: echo "Testing staging, shard 1 ..."
    - <<: *test-staging
      script: echo "Testing staging, shard 2 ..."
    - <<: *test-staging
      script: echo "Testing staging, shard 3 ..."